.capsules{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.loading{
    width: 100vw;
    text-align: center;
}
@media only screen and (max-width: 600px){
    .capsules{
        margin-top: 70px;
    }
}